html,
body {
  margin: 0px;
  background: rgb(5, 5, 5);
  height: 100vh;
  top: 0px;
}

#bz {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("cash.jpg");
  height: 100vh;
}
section#s1 {
  background-color: red;
  height: 59px;
}
.today {
  display: flex;
}
.float {
  background-color: white;
  background-image: url("mask.jpg");
  border-radius: 30px;
  width: 218px;
  margin: 10px;

  height: 250px;
  float: left;
  background-size: cover;
  border: 5px solid white;

  padding: 10px;
  justify-content: center;
}
#f1 {
  background-image: url("final1.jpg");
  background-size: contain;
  margin-top: 120px;
  background-color: black;
}
#f2 {
  background-image: url("final2.jpg");
  background-size: inherit;
  margin-top: 120px;
}
#f3 {
  background-image: url("final3.jpg");
  background-size: contain;
  margin-top: 120px;
}
#f4 {
  background-image: url("final4.jpg");
  background-size: contain;
  margin-top: 120px;
}
#f5 {
  background-image: url("final5.jpg");
  background-size: contain;
  margin-top: 120px;
}

#h1 {
  background: red;
  color: white;
  font-size: 40px;
  padding: 10px;
  margin: 0px;
  text-align: center;
  height: 60px;
}
#form1 {
  background: red;
  color: white;
  font-size: 40px;
  padding: 10px;
  margin: 0px;
  text-align: center;
  height: 60px;
}
#z1 {
  background: red;
  color: white;
  font-size: 60px;
  padding: 10px;
  margin: 0px;
  text-align: center;
  height: 60px;
}
.my2 {
  font-size: 40px;
  margin-top: 0px;
  color: white;
  font-weight: bolder;
  display: flex;
}
div {
  margin-top: 0px;
  margin-bottom: 20px;
  color: white;
  font-size: 15px;
  margin: 0px;
  height: 25px;
  text-align: center;
  font-style: bold;
  font-size: large;
}
.img1 {
  border: 8px solid white;
  font-size: 40px;
  margin-top: 20px;
  position: relative;
}
section {
  margin-top: 450px;
  height: 50px;

  font-family: cursive;
  display: flex;
  justify-content: space-around;
}

.p {
  margin-top: 50px;
  color: white;
  width: 77%;
  float: right;
  font-size: x-large;
  margin-left: 0px;
  position: relative;
}
.but0 {
  height: 40px;
  padding: 4px;
  width: 150px;
  border-radius: 16px;
  background: white;
  font-family: cursive;
  font-size: x-large;
  color: brown;
  height: 50px;
  align-self: center;
}
.but1 {
  align-self: center;
  height: 40px;
  padding: 4px;
  width: 150px;
  height: 50px;
  border-radius: 16px;
  background: white;
  font-family: cursive;
  font-size: x-large;
  color: brown;
  margin-top: 20px;
}

.t1 {
  margin-bottom: 10px;
  width: 50%;
  height: 40px;
  border-radius: 20px;
  font-size: 25px;
  align-self: center;
  background-color: white;
  color: white;
  background-color: black;
  text-align: center;
}
#d {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("mask.jpg");
  margin: 0px;
  height: 84vh;
}

.s10 {
  background: red;
  padding: 5px;
  font-weight: 1;
  font-size: large;
}
#ip1.t1 {
  margin-top: 200px;
}
::placeholder {
  color: white;
  opacity: 1;
}
.p2 {
  background-color: yellow;
  background: red;
  padding: 5px;
  font-weight: 1;
  font-size: xx-large;
  color: white;
}
audio {
  display: none;
}
.imgn {
  width: 40px;
  height: 40px;
  border: 5px solid white;
  margin-top: 5px;
  padding: 2px;
}
